html {
    font-family: 'D-Din Bold', Arial, Helvetica, sans-serif;
    background-color: #000;
}
body {
    margin: 0;
}

/* Fonts */

@font-face {
    font-family: 'D-Din Bold';
    src: url(D-DIN-Bold.otf);
}
@font-face {
    font-family: 'D-Din';
    src: url(D-Din.otf);
}

/* Header */

.header {
    position: fixed; /* Had difficulty with the header when I fixed the position. Solved it by putting another div inside the header as the content container, then set header width to 100%.*/
    width: 100%; 
    height: 100px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 50px;
}

/* Header Left */

.header__left {
    display: flex;
    justify-content: space-between;
}
.header__logo-link {
    width: 210px;
    padding-left: 20px;
    margin-top: 8px;
}
.header__logo {
    fill: #fff;
}
.nav__menu {
    display: flex;
    gap: 25px;
    list-style: none;
}
.nav__item {
    position: relative;
}
.link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.nav__link, .header__link {
    font-size: 13px;
    letter-spacing: 0.02rem;
}
.nav__link::after, .header__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
}
.header__link::after {
    width: 31.37px;
}
.nav__link:hover::after, .header__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Header Right */

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 998;
    width: 15px;
    height: 10px;
    outline: none;
}
.hamburger__content {
    display: block;
    width: 15px;
    height: 2px;
    background-color: #fff;
    transition: all 0.5s;
}
.cross {
    position: absolute;
    right: 0px;
    z-index: -999;
    width: 15px;
    height: 13px;
    background-color: transparent;
}
.header__hamburger-slider {
    position: absolute;
    top: -42px;
    left: 124px;
    width: 350px;
    height: 100vh;
    background-color: #000;
    transition: left 0.3s ease-out;
}
.hamburger-nav {
    padding: 70px 50px 0 50px;
}
.hamburger-nav__item {
    display: flex;
    align-items: center;
    height: 40px;
    text-align: right;
    border-bottom: 1pt solid #252525;
}
.hamburger-nav__link {
    width: 100%;
    font-family: 'D-Din';
    font-size: 15px;
    font-weight: 100;
    transition: color 0.3s ease-in-out;
}
.hamburger-nav__link:hover {
    color: #8b939b;
}
.hamburger:target > .hamburger__content.transform-right {
    position: absolute;
    top: 3px;
    z-index: 998;
    transform: rotate(45deg);
}
.hamburger:target > .hamburger__content.transform-left {
    position: absolute;
    top: 3px;
    z-index: 998;
    transform: rotate(135deg);
}
.hamburger:target > .hamburger__content.disappear {
    opacity: 0;
}
.hamburger:target ~ .cross {
    z-index: 999;
}
.hamburger:target ~ .header__hamburger-slider {
    left: -226px;
}

/* Main */

main {
    display: grid;
    grid-template-columns: 100vw;
    grid-auto-rows: 100vh;
}
.section__one {
    background-image: url(spacex1.webp);
    background-position: center;
    background-size: cover;
}
.section__content {
    position: absolute;
    bottom: 18%;
    left: 50px;
    width: 350px;
    padding-left: 20px;
}
.headings {
    color: #fff;
    text-transform: uppercase;
}
h3 {
    font-size: 20px;
    font-weight: 100;
    margin: 0;
}
h1 {
    font-size: 48px;
    font-weight: 400;
    margin-top: 10px;
    text-shadow: 0 0 2px #555;
}
.button {
    position: relative;
    font-size: 13px;
    padding: 15px 47px;
    border: 2px solid #fff;
    margin-top: 20px;
}
.button:hover {
    z-index: 999;
    color: #000;
}
.button__filler {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 152px;
    height: 47px;
    background-color: #fff;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s;
}
.button:hover > .button__filler {
    z-index: -1;
    transform: scaleY(1);
    transform-origin: bottom;
}
.section__two {
    background-image: url(spacex2.webp);
    background-position: center;
    background-size: cover;
}