:root {
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: skyblue;
}
body {
    margin: 0;
}

/* Header */

.header {
    position: fixed; /* Had difficulty with the header when I fixed the position. Solved it by putting another div inside the header as the content container, then set header width to 100%.*/
    width: 100%; 
    height: 100px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 50px;
}
.header__left {
    display: flex;
    justify-content: space-between;
}
.header__logo-link {
    width: 210px;
    margin-top: 8px;
}
.nav__menu {
    display: flex;
    gap: 25px;
    list-style: none;
}
.link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.nav__link {
    font-size: 13px;
}
.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}
.header__link {
    font-size: 13px;
}
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 998;
    width: 15px;
    height: 10px;
    outline: none;
}
.hamburger__content {
    display: block;
    width: 15px;
    height: 2px;
    background-color: #fff;
    transition: all 0.5s;
}
.cross {
    position: absolute;
    right: 0px;
    z-index: -999;
    width: 15px;
    height: 13px;
    background-color: transparent;
}
.header__hamburger-slider {
    position: absolute;
    top: -50px;
    left: 124px;
    width: 350px;
    height: 4450%;
    background-color: #000;
    transition: left 0.3s ease-out;
}
.hamburger-nav {
    /* display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px; */
    padding: 70px 50px 0 50px;
}
.hamburger-nav__item {
    width: 100%;
    text-align: right;
    padding: 12px 0;
    border-bottom: 1px solid #8b939b;
}
.hamburger-nav__link {
    width: 100%;
    font-size: 14px;
    font-weight: 100;
}
.hamburger:target > .hamburger__content.transform-right {
    position: absolute;
    top: 3px;
    z-index: 998;
    transform: rotate(45deg);
}
.hamburger:target > .hamburger__content.transform-left {
    position: absolute;
    top: 3px;
    z-index: 998;
    transform: rotate(135deg);
}
.hamburger:target > .hamburger__content.disappear {
    opacity: 0;
}
.hamburger:target ~ .cross {
    z-index: 999;
}
.hamburger:target ~ .header__hamburger-slider {
    left: -226px;
}

/* Main */

main {
    display: grid;
    grid-template-columns: 100vw;
    grid-auto-rows: 100vh;
}
.a {
    background-image: url(spacex1.webp);
    background-position: center;
    background-size: cover;
}
.b {
    background-image: url(spacex2.webp);
    background-position: center;
    background-size: cover;
}
.fill-white {
    fill: #fff;
}